<!-- secondary header -->
<section class="page-title-section overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">{{title}}</a></li>
                    <li class="list-inline-item text-white h3 font-secondary ">{{minor_title}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /secondary header -->