<div class="container topics">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-1 containerr" *ngFor="let topic of topics">
            <span class="h5 text-primary font-secondary" style="line-height: 162px;margin-left: 32%;"> {{topic.Name}}</span>
            <div class="overlay" [hidden] = "hidden">
                <div class="delete_update">
                    <div class="btn btn-primary buttondu" (click)="delete(topic.ID)">Delete</div>
                    <div class="btn btn-primary buttondu" (click)="setTopic(topic.ID,topic.Name)" data-toggle="modal" [attr.data-target]="'#' + update_modal" >Update</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- popups -->
<app-update-topic-modal [modal_name] = "update_modal" [data] ="topic"></app-update-topic-modal>