<app-slider></app-slider>
<app-banner-feature></app-banner-feature>
<app-about></app-about>

<!-- courses -->
<section class="section-sm">
    <div class="container">
        <app-see-all-header title="Our Courses" link="/courses"></app-see-all-header>
        <app-courses-list [courses_number]="courses_number"></app-courses-list>
        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a routerLink="/courses" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">see all</a>
            </div>
        </div>
    </div>
</section>
<!-- /courses -->

<!-- teachers -->
<section class="section-sm">
    <div class="container">
        <app-see-all-header title="Our Teachers" link="/teachers"></app-see-all-header>

        <app-teachers-list [teachers_number]="teachers_number"></app-teachers-list>
        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a routerLink="/teachers" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">see all</a>
            </div>
        </div>

        


    </div>
</section>
<!-- /courses -->