<app-secondary-header title="Our Students >" [minor_title]="student.Name"></app-secondary-header>

<!-- new template -->
<div class="mt-4 mb-5">
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class=" img-fluid rounded-circle" src="../../../assets/images/teachers/teacher-1.jpg"
                            alt="User profile picture" style="border: 5px double #d47927;">
                    </div>

                    <h3 class="profile-username text-center">{{student.Name}}</h3>

                    <p class="text-muted text-center">{{student.DeptName}}</p>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>#Course</b> <a class="float-right">#Grade</a>
                        </li>
                        <li class="list-group-item" *ngFor="let course of student.courses">
                            <b>{{course.Name}}</b> <a class="float-right">{{course.Grade}}</a>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#updateModal">
                        Update
                    </button>
                    <button type="button" class="btn btn-primary btn-block" (click)="reportClick(student.ID)">
                        Get Courses Report
                    </button>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            </div>
            
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-3">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a>
                        </li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <app-courses-list courses_number=0 [studentID]="student.ID"></app-courses-list>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end template -->
<div *ngIf="student">
    <app-pop-ups [student]="student"></app-pop-ups>
</div> -->