<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <br><br><br><br><br><br><br><br><br><br>

    <div style="border: 4px solid rgb(247, 167, 62); border-radius: 20px; width: 70%; margin-left: 15%;">
    <div style="margin: 3%;" *ngFor="let question of questions">
        <h4>{{question.Body}} ?</h4>
        <ol type="1">
            <li *ngFor="let answer of question.answers"  style="margin: 3%;">
                <div *ngIf="question.Right_AnswerID == answer.ID">
                    <div style="font-size: 20px; color: rgb(247, 167, 62);">-{{answer.Body}}</div>
                </div>
                <div *ngIf="question.Right_AnswerID != answer.ID">
                    - {{answer.Body}}
                </div>
            </li>
        </ol>
        <hr style=" border-width: 2px;">
    </div>
</div>

</body>

</html>